<% if client_logged_in? %>
  <%= render 'layouts/searchbar' %>
  <div class="container mt-3 p-3">
    <% if @professionals && @professionals.count > 0 %>
      <div class="container">
        <div class="d-flex ">
          <h3>
            Showing results for
            <strong><%= "'#{@service}'"%></strong>
            <%if @location.present? %>
              in <strong><%= "'#{@location}'"%></strong>
            <%end%>
          </h3>
        </div>

        <% @professionals.each do |professional| %>
              <div class="d-flex flex-column border p-3">
                <div class="p-2"><%= link_to("#{professional.full_name}:", professional) %></div>
                <div class="p-2"><%= professional.service.capitalize %></div>
                <div class="p-2"><%= professional.address %></div>
              </div>
        <% end %>

      </div>
    <% else %>
    <div class="row">
      <h3>
        There are no results for
         <strong><%= "'#{@service}'"%></strong>
         <% if @location.present? %>
          in <strong> <%= "'#{@location}'"%></strong>
         <% end %>
      </h3>
    </div>
    <% end %>
  </div>

<% else %>

  <div class="container mt-3 p-3">
    <% if @professionals && @professionals.count > 0 %>
      <div class="container">
        <h3><%= @professionals.count %> pros found matching your criteria.</h3>
        <p>We're asking you a few questions so we can bring you the right pros.</p>
        <%= link_to "Next", '#', 'data-target' => '#questionsModal', 'data-toggle' => 'modal' %>    
      </div>
    <% else %>
    <div class="row">
      <h3>
        There are no results for
         <strong><%= "'#{@service}'"%></strong>
         <% if @location.present? %>
          in <strong> <%= "'#{@location}'"%></strong>
         <% end %>
      </h3>
    </div>
    <% end %>
  </div>

<% end %>

<div class="modal fade" id="questionsModal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
			<div class="modal-header">
				<h2>TaftaPro</h2>
			</div>        
			<div class="modal-body">
        <% @questions.each do |question| %>   
          <% if @questions.index(question) == 0 %>
            <!-- If it's the first question -->
            <%= form_for Answer.new, remote: true, html: { id: "#{@questions.index(question)}" } do |f| %>
              <label><%= question.question %></label>
              <%= f.hidden_field :question_id, value: question.id %>
              <%= f.hidden_field :client_token, value: @client_token %>
              
              <% if question.answer_type == "text_field" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "text_area" %>
                <%= f.text_area :answer, :required => true %>
              <% elsif question.answer_type == "date_field" %>
                <%= f.date_field :answer, :required => true %>
              <% elsif question.answer_type == "email_field" %>
                <%= f.email_field :answer, class: "text-lowercase", :required => true %>
              <% elsif question.answer_type == "radio" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "radio_and_text" %>
                <%= f.text_field :answer, :required => true %>
              <% end %>


              
              <%= f.submit "Next", id: "nextBtn-#{question.id}", onclick: "nextQuestion('nextBtn-#{question.id}')" %>
            <% end %>
          <% elsif @questions.index(question) == @questions.count - 1 %>
            <!-- The last question -->
            <%= form_for Answer.new, url: submit_answers_path, html: { class: "d-none", id: "#{@questions.index(question)}" } do |f| %>
              <label><%= question.question %></label>
              <%= f.hidden_field :question_id, value: question.id %>
              <%= f.hidden_field :client_token, value: @client_token %>
              
              <% if question.answer_type == "text_field" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "text_area" %>
                <%= f.text_area :answer, :required => true %>
              <% elsif question.answer_type == "date_field" %>
                <%= f.date_field :answer, :required => true %>
              <% elsif question.answer_type == "email_field" %>
                <%= f.email_field :answer, class: "text-lowercase", :required => true %>
              <% elsif question.answer_type == "radio" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "radio_and_text" %>
                <%= f.text_field :answer, :required => true %>
              <% end %>
              
                <%= link_to "Back", '#', remote: true, class: "btn btn-info float-left", id: "backBtn-#{question.id}", onclick: "prevQuestion('backBtn-#{question.id}')"%>
                <%= f.submit "Submit", class: "float-right" %>             
            <% end %>
          <% else %>
            <!-- Middle questions -->
            <%= form_for Answer.new, remote: true, html: { class: "d-none", id: "#{@questions.index(question)}" } do |f| %>
              <label><%= question.question %></label>
              <%= f.hidden_field :question_id, value: question.id %>
              <%= f.hidden_field :client_token, value: @client_token %>
              
              <% if question.answer_type == "text_field" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "text_area" %>
                <%= f.text_area :answer, :required => true %>
              <% elsif question.answer_type == "date_field" %>
                <%= f.date_field :answer, :required => true %>
              <% elsif question.answer_type == "email_field" %>
                <%= f.email_field :answer, class: "text-lowercase", :required => true %>
              <% elsif question.answer_type == "radio" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "radio_and_text" %>
                <%= f.text_field :answer, :required => true %>
              <% end %>
              
                <%= link_to "Back", '#', remote: true, class: "btn btn-info float-left", id: "backBtn-#{question.id}", onclick: "prevQuestion('backBtn-#{question.id}')"%>
                <%= f.submit "Next", id: "nextBtn-#{question.id}", class: "float-right", onclick: "nextQuestion('nextBtn-#{question.id}')" %>                
              
            <% end %>          
          <% end %>
        <% end %>
      </div>        
    </div>
  </div>
</div>


<script type="text/javascript">

function nextQuestion(btn_id) {
  hash_sym = "#";
  var object_id = hash_sym.concat(btn_id);
  $(object_id).click(function() {
  // If not the last question,
  // hide this question
  // and display the next question upon hitting next
  if (this.parentElement.id < <%= @questions.count %>){
    this.parentElement.classList.add("d-none");
    this.parentElement.classList.remove("d-block");

    var next_id = parseInt(this.parentElement.id, 10) + 1;
    document.getElementById(next_id).classList.remove("d-none");
    document.getElementById(next_id).classList.add("d-block");
  }
  });   
}
 

function prevQuestion(btn_id) {
  hash_sym = "#";
  var object_id = hash_sym.concat(btn_id);
  $(object_id).click(function() {
  // If not the last question,
  // hide this question
  // and display the next question upon hitting next
  if (this.parentElement.id > 0 && this.parentElement.id <= <%= @questions.count %>){
  this.parentElement.classList.add("d-none");
  this.parentElement.classList.remove("d-block");

  var prev_id = parseInt(this.parentElement.id, 10) - 1;
  document.getElementById(prev_id).classList.add("d-block");
  document.getElementById(prev_id).classList.remove("d-none");
  }
  });   
}
</script>