
  <div class="container mt-2">

    <!--Personal Information-->

    <div class="d-flex flex-column justify-content-center p-3 m-3 border border-white shadow-lg">

      <div class="d-flex justify-content-between">
          <h3>Personal Information</h3>
          <button class="btn btn-info btn-sm mt-2 mb-3" onclick="editPersonal()" id="personalEdit">Edit</button>
      </div>

      <%= form_for( @professional, url: professional_path( params[:id]), method: :put )  do |f|%>
        <!--Name-->
        <%= render 'shared/error_messages', object: f.object %>
        <div class="row p-3">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <%= f.text_field :first_name, class: "form-control input-sm personalInfo", placeholder: "First Name", :disabled=>true %>
              <div>First Name</div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <%= f.text_field :last_name, class: "form-control input-sm personalInfo", placeholder: "Last Name", :disabled=>true %>
              <div>Second Name</div>
            </div>
          </div>
        </div>
        <!--Location-->
        <div class="row p-3">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <%= f.text_field :city, class: "form-control input-sm personalInfo", placeholder: "City", :disabled=>true %>
              <div>City</div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <%= f.text_field :country, class: "form-control input-sm personalInfo", placeholder: "Country", :disabled=>true %>
                <div>Country</div>
              </div>
          </div>
        </div>
        <!--Service-->
        <div class="form-group p-3">
          <%= f.text_field :service, class: "form-control input-sm personalInfo service", placeholder: "Service", :disabled=>true %>
          <div class="d-none" id="select-hider">
          <%= f.select :service, Category.order(:service).select("DISTINCT(service)").collect { |c| [ c.service, c.service ] }, {} ,{ class: "service-select"} %>  
          </div>
          
          <div>Service</div>
        </div>
        <div class="form-group">
          <%= f.submit "Save", class: "btn btn-success mt-2", :disabled=>true, :id=> "personalSave" %>
        </div>
      <%end%>

      <hr>
    <!--Business Information-->
      <div class="d-flex justify-content-between">
        <h3>Business Information</h3>
        <button class="btn btn-info btn-sm mt-2" onclick="editBusiness()" id="businessEdit">Edit</button>
      </div>

      <%= form_for(@professional, url: professional_path( params[:id]), method: :put ) do |f|%>
        <!--Business Name-->
        <div class="form-group p-3">
            <%=f.text_field :business_name, class: "form-control input-sm p-2 businessInfo", placeholder: "Business_name", :disabled=>true%>
            <div>If you don't have business name just write your name</div>
        </div>
        <!--uniqueness_comment-->
        <div class="form-group p-3">
            <%=f.text_area :uniqueness_comment, class: "form-control businessInfo", placeholder: "Write a business Quote.Maximum 100 characters", :disabled=>true, :maxlength=>"100"%>
            <div>Write a business Quote.Maximum 100 characters.</div>
        </div>
        <!---->
        <div class="row p-3">
          <!--specialization-->
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <%=f.text_field :specialization, class: "form-control input-sm businessInfo", placeholder: "Area of Specialization", :disabled=>true %>
              <div>What is your area of specialization</div>
            </div>
          </div>
          <!--Career Start Date-->
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <%=f.date_field :career_start_date, class: "form-control input-sm businessInfo", placeholder: "When did you start this job", :disabled=>true%>
              <div>When did you start the career</div>
            </div>
          </div>
        </div>
        <div class="form-group">
            <%= f.submit "Save", class: "btn btn-success mt-2", :disabled=>true, :id=> "businessSave" %>
        </div>
      <%end%>
    </div>
  </div>

<script type="text/javascript">
  function editPersonal(){

        var personalInfoField = document.getElementsByClassName("personalInfo");

        for(var i=0; i < personalInfoField.length; i++){

          personalInfoField[i].disabled=false;

        }
        document.getElementById("personalSave").disabled=false;
        document.getElementById("personalEdit").disabled=true;
        $("#select-hider").removeClass("d-none");
        $("#select-hider").addClass("d-block");
        $(".service").addClass("d-none");

        $(".service-select").select2({
          theme: "bootstrap"
        });
  }
  function editBusiness(){
        console.log("Yeah");
        var businessInfoField = document.getElementsByClassName("businessInfo");

        for(var i=0; i < businessInfoField.length; i++){

          businessInfoField[i].disabled=false;

        }
        document.getElementById("businessSave").disabled=false;
        document.getElementById("businessEdit").disabled=true;
  }

</script>
