<div class="row mt-4 pt-5">
  	<div class="col-md-6 offset-md-3 mx-auto border border-white shadow-lg p-4 bg-white rounded mt-2">

      <h3 class="text-center mb-3">Join As Professional</h3>

  		<%= form_for @professional do |f| %>
  		<%= render 'shared/error_messages', object: f.object %>

  		<div class="row">
  			<div class="col-xs-6 col-sm-6 col-md-6">
  				<div class="form-group">
  					<%= f.text_field :first_name, class: "form-control input-sm", placeholder: "First Name" %>
  				</div>
  			</div>
  			<div class="col-xs-6 col-sm-6 col-md-6">
  				<div class="form-group">
  					<%= f.text_field :last_name, class: "form-control input-sm", placeholder: "Last Name" %>
  				</div>
  			</div>
  		</div>

  		<div class="form-group">
  			<%= f.email_field :email, class: "form-control input-sm", placeholder: "Email Address" %>
  		</div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
  				<div class="form-group">
  					<%= f.text_field :city, class: "form-control input-sm", placeholder: "City" %>
  				</div>
  			</div>
        <div class="col-xs-6 col-sm-6 col-md-6">
  				<div class="form-group">
  					<%= f.text_field :country, class: "form-control input-sm", placeholder: "Country" %>
  				</div>
  			</div>

      </div>

      <div class="row">
        <div class="col-md-2">
          <label>Service:</label>  
        </div>
        <div class="col-md-10">
          <%= f.select :service, Category.order(:service).select("DISTINCT(service)").collect { |c| [ c.service, c.service ] } %> 
          <br/>         
        </div>        
      </div>


  		<div class="row">
  			<div class="col-xs-6 col-sm-6 col-md-6">
  				<div class="form-group">
  					<%= f.password_field :password, class: "form-control input-sm", placeholder: "Password" %>
  				</div>
  			</div>
  			<div class="col-xs-6 col-sm-6 col-md-6">
  				<div class="form-group">
  					<%= f.password_field :password_confirmation, class: "form-control input-sm", placeholder: "Confirm Password" %>
  				</div>
  			</div>
  		</div>

  		<%= f.submit "Register", class: "btn btn-info btn-block mt-2" %>
  		<% end %>

  		<p class="mt-2">Already have an account? <%= link_to "Log In", professional_login_path%></p>
  	</div>
</div>

<script type="text/javascript">

  $("#professional_service").select2({
    theme: "bootstrap"
  });  
</script>
