<% if professional_logged_in?%>
	<% if @professional.business_name.blank? || @professional.uniqueness_comment.blank? || @professional.career_start_date.blank? || @professional.specialization.blank? %>
		<div class="alert alert-warning text-center" role="alert">
				Please complete your Business information to increase your chance of getting a client by clinking the following. <%=link_to "Profile", edit_professional_path%>
		</div>
	<%end%>
<%end%>

<div class="container professional-profile">

	<div class="row">
		<div class="col-sm-3">
			<div class="rating-block">
				<h4>Average rating</h4>
				<h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
				<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="col-sm-4">
			<h4>Rating breakdown</h4>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">5 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">1</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">4 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">1</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">3 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">0</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">2 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">0</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">1 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">0</div>
			</div>
		</div>
		<div class="col-sm-5">
		  <h3><strong><%= "#{@professional.full_name}" %></strong></h3>
		  <h5>Service: <strong><%= "#{@professional.service}" %></strong></h5>
			<h5>Specialization:
					<strong><%="#{@professional.specialization}"%></strong>
			</h5>
		  <h5>Location: <strong><%= "#{@professional.city}, #{@professional.country}" %></strong></h5>
			<h5>Business Name: <strong><%= "#{@professional.business_name}" %></strong></h5>
			<h5>Experience:
				<% if @professional.career_start_date.present?%>
					<strong><%= "#{distance_of_time_in_words(Time.now, @professional.career_start_date)}"%></strong>
				<% end%>
			</h5>
			<%if !professional_logged_in?%>
				<button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#questionsModal">Request Quotation</button>
			  <%#= link_to "Request a Quotation", request_quotation_path(client_id: current_client.id, professional_id: @professional.id), class: "btn btn-primary" %>
			<%end%>
		</div>
	</div>
	<div class="row">

		<div class="col-12">
			<hr/>
			<h4>Business Quote</h4>
			<div class="">
				<p>
					<%= "#{@professional.uniqueness_comment}" %>
				</p>
			</div>

		</div>

	</div>

	<div class="row">
		<div class="col-sm-7">
			<hr/>
			<h4>Reviews</h4>
			<div class="review-block">
			<% 5.times do %>
				<div class="row">
					<div class="col-sm-3">
						<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
						<div class="review-block-name"><a href="#">John Doe</a></div>
						<div class="review-block-date">January 29, 2016<br/>1 day ago</div>
					</div>
					<div class="col-sm-9">
						<div class="review-block-rate">
							<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
						</div>
						<div class="review-block-title">Great work!</div>
						<div class="review-block-description">He does quality work. He does quality work.He does quality work.He does quality work.He does quality work.He does quality work.He does quality work.He does quality work.</div>
					</div>
				</div>
				<hr/>
			<% end %>
			</div>
		</div>
		<div class="col-sm-5">
			<hr>
			<div id="map" style="width:100%;height:300px;"></div>
			<%= hidden_field_tag("latitude", "#{@professional.latitude}") %>
			<%= hidden_field_tag("longitude", "#{@professional.longitude}") %>
		</div>
	</div>
</div><!-- /container -->


<div class="modal fade" id="questionsModal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
			<div class="modal-header">
				<h2>TaftaPro</h2>
			</div>
			<div class="modal-body">

        <% @questions.each do |question| %>
          <% if @questions.index(question) == 0 %>
            <!-- If it's the first question -->
            <%= form_for Answer.new, remote: true, html: { id: "#{@questions.index(question)}" } do |f| %>
              <label><%= question.question %></label>
              <%= f.hidden_field :question_id, value: question.id %>
              <%= f.hidden_field :client_token, value: @client_token %>


              <% if question.answer_type == "text_field" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "text_area" %>
                <%= f.text_area :answer, :required => true %>
              <% elsif question.answer_type == "date_field" %>
                <%= f.date_field :answer, :required => true %>
								<% elsif question.answer_type == "email_field" %>
										<%if !client_logged_in?%>
				                <%= f.email_field :answer, class: "text-lowercase", :required => true %>
										<%else%>
												<%= f.email_field :answer, class: "text-lowercase", :required => true, :value => @client.email, :disabled=>true  %>
										<%end%>

              <% elsif question.answer_type == "radio" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "radio_and_text" %>
                <%= f.text_field :answer, :required => true %>
              <% end %>

              <%= f.submit "Next", id: "nextBtn-#{question.id}", onclick: "nextQuestion('nextBtn-#{question.id}')" %>
            <% end %>

          <% elsif @questions.index(question) == @questions.count - 1 %>
            <!-- The last question -->
            <%= form_for Answer.new, url: submit_answers_path(location: @location, service: @service), html: { class: "d-none", id: "#{@questions.index(question)}" } do |f| %>
              <label><%= question.question %></label>
              <%= f.hidden_field   :question_id,         value: question.id %>
              <%= f.hidden_field   :client_token,        value: @client_token %>
							<%= hidden_field_tag   :professional_email,  @professional.email%>

              <% if question.answer_type == "text_field" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "text_area" %>
                <%= f.text_area :answer, :required => true %>
              <% elsif question.answer_type == "date_field" %>
                <%= f.date_field :answer, :required => true %>

								<% elsif question.answer_type == "email_field" %>
										<%if !client_logged_in?%>
				                <%= f.email_field :answer, class: "text-lowercase", :required => true %>
										<%else%>
												<%= f.email_field :answer, class: "text-lowercase", :required => true, :value => @client.email, :disabled=>true  %>
										<%end%>

              <% elsif question.answer_type == "radio" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "radio_and_text" %>
                <%= f.text_field :answer, :required => true %>
              <% end %>

                <%= link_to "Back", '#', remote: true, class: "btn btn-info float-left", id: "backBtn-#{question.id}", onclick: "prevQuestion('backBtn-#{question.id}')"%>
                <%= f.submit "Submit", class: "float-right" %>
                <% end %>

          <% else %>
            <!-- Middle questions -->
            <%= form_for Answer.new, remote: true, html: { class: "d-none", id: "#{@questions.index(question)}" } do |f| %>
              <label><%= question.question %></label>
              <%= f.hidden_field :question_id, value: question.id %>
              <%= f.hidden_field :client_token, value: @client_token %>

              <% if question.answer_type == "text_field" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "text_area" %>
                <%= f.text_area :answer, :required => true %>
              <% elsif question.answer_type == "date_field" %>
                <%= f.date_field :answer, :required => true %>

							<% elsif question.answer_type == "email_field" %>
									<%if !client_logged_in?%>
			                <%= f.email_field :answer, class: "text-lowercase", :required => true %>
									<%else%>
											<%= f.email_field :answer, class: "text-lowercase", :required => true, :value => @client.email, :disabled=>true  %>
									<%end%>

              <% elsif question.answer_type == "radio" %>
                <%= f.text_field :answer, :required => true %>
              <% elsif question.answer_type == "radio_and_text" %>
                <%= f.text_field :answer, :required => true %>
              <% end %>

                <%= link_to "Back", '#', remote: true, class: "btn btn-info float-left", id: "backBtn-#{question.id}", onclick: "prevQuestion('backBtn-#{question.id}')"%>
                <%= f.submit "Next", id: "nextBtn-#{question.id}", class: "float-right", onclick: "nextQuestion('nextBtn-#{question.id}')" %>

            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>
function searchProfessionalLocation() {
	var lat = document.getElementById('latitude').value;
	var lon = document.getElementById('longitude').value;
  var location = new google.maps.LatLng(lat, lon);

  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: location, zoom: 7};
  var map = new google.maps.Map(mapCanvas,mapOptions);

  var city = new google.maps.Circle({
    center: location,
    radius: 50000,
    strokeColor: "#0000FF",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#0000FF",
    fillOpacity: 0.4
  });
  city.setMap(map);
}
function nextQuestion(btn_id) {
  hash_sym = "#";
  var object_id = hash_sym.concat(btn_id);
  theObject = $(object_id)[0];

  // If not the last question,
  // hide this question
  // and display the next question upon hitting next

  if (theObject.parentElement.id < <%= @questions.count %>){
    theObject.parentElement.classList.add("d-none");
    theObject.parentElement.classList.remove("d-block");

    var next_id = parseInt(theObject.parentElement.id, 10) + 1;
    document.getElementById(next_id).classList.remove("d-none");
    document.getElementById(next_id).classList.add("d-block");
  }
}

function prevQuestion(btn_id) {
  hash_sym = "#";
  var object_id = hash_sym.concat(btn_id);
  theObject = $(object_id)[0];

  // If not the last question,
  // hide this question
  // and display the next question upon hitting next
  if (theObject.parentElement.id > 0 && theObject.parentElement.id <= <%= @questions.count %>){
  theObject.parentElement.classList.add("d-none");
  theObject.parentElement.classList.remove("d-block");

  var prev_id = parseInt(theObject.parentElement.id, 10) - 1;
  document.getElementById(prev_id).classList.add("d-block");
  document.getElementById(prev_id).classList.remove("d-none");
  }
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSqlenOHStWc1MdDufLvSzIXdum5UREsc&callback=searchProfessionalLocation"></script>
