<% if professional_logged_in?%>
	<% if @professional.business_name.blank? || @professional.uniqueness_comment.blank? || @professional.career_start_date.blank? || @professional.specialization.blank? || @professional.phone_number.blank? %>
		<div class="alert alert-warning text-center" role="alert">
				Please complete your profile information to increase your chance of getting a client by clicking the following link. <%=link_to "Profile", edit_professional_path%>
		</div>
	<%end%>
<%end%>

<div class="container professional-profile">

		<div class="row">
					<!--Average Section-->
					<div class="col-sm-3">
						<div class="rating-block">
							<h4>Average rating</h4>
							<h2 class="bold padding-bottom-7"><%=@average_review_rating%> <small>/ 5.0</small></h2>
							<div class="star-rating" data-score=<%=@average_review_rating%>></div>
						</div>
					</div>

					<div class="col-sm-4">
					</div>

					<!--The professional profile section-->
					<div class="col-sm-5">
					  <h3><strong><%= "#{@professional.full_name}" %></strong></h3>
					  <h5>Service: <strong><%= "#{@professional.service.capitalize}" %></strong></h5>
						<h5>Specialization:
								<strong><%="#{@professional.specialization}"%></strong>
						</h5>
					  <h5>Location: <strong><%= "#{@professional.city}, #{@professional.country}" %></strong></h5>
						<h5>Business Name: <strong><%= "#{@professional.business_name}" %></strong></h5>
						<h5>Experience:
							<% if @professional.career_start_date.present?%>
								<strong><%= "#{distance_of_time_in_words(Time.now, @professional.career_start_date)}"%></strong>
							<% end%>
						</h5>
						<%if !professional_logged_in?%>
							<button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#questionsModal">Request Quotation</button>
						<%end%>
					</div>

		</div>

		<!--uniqueness comment Section-->
		<div class="row">
				<div class="col-12">
						<hr/>
						<h4>Biography</h4>
						<div>
							<p>
								<%= "#{@professional.bio}" %>
							</p>
						</div>						
						<hr/>
						<h4>Business Quote</h4>
						<div >
							<p>
								<%= "#{@professional.uniqueness_comment}" %>
							</p>
						</div>
				</div>
		</div>

		<div class="row">
					<!--Reviews Section-->
					<div class="col-sm-7">
							<hr/>
							<h4>Reviews</h4>

								<% if @reviews.blank? %>
										<div class=review-block>
											<h6 class="font-italic">There are no reviews for the professional yet</h6>
										</div>
								<% else %>
										<div class="review-block">
												<% @reviews.each do|review|%>

													<div class="row">

															<div class="col-sm-3">
																	<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
																	<div class="review-block-name">
																		<%=link_to review.client.full_name%>
																	</div>
																	<div class="review-block-date">
																		<%=review.created_at.in_time_zone("Nairobi").strftime("%B %d, %Y ")%><br/><%=review.created_at.in_time_zone("Nairobi").strftime("%I:%M:%p")%>
																	</div>
															</div>

															<div class="col-sm-9">
																	<div class="review-block-rate">
																			<div class="star-rating" data-score=<%=review.rating%>></div>
																	</div>
																	<div class="review-block-title">Review</div>
																	<div class="review-block-description">
																		<%=review.comment%>
																	</div>
															</div>

													</div>
													<hr/>
												<% end %>
										</div>
										<%= will_paginate @reviews, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer%>
								<% end %>
					</div>

					<!--Map Section-->
					<div class="col-sm-5">
							<hr>
							<div id="map" style="width:100%;height:300px;"></div>
							<%= hidden_field_tag("latitude", "#{@professional.latitude}") %>
							<%= hidden_field_tag("longitude", "#{@professional.longitude}") %>
					</div>
		</div>
</div>
<!-- /container -->

<!--Only load when the professional is not logged in-->
<%unless professional_logged_in?%>
			<!--Question Model-->
			<%= render "layouts/question_model"%>
<%end%>


<script>
		function searchProfessionalLocation() {
			var lat = document.getElementById('latitude').value;
			var lon = document.getElementById('longitude').value;
		  var location = new google.maps.LatLng(lat, lon);

		  var mapCanvas = document.getElementById("map");
		  var mapOptions = {center: location, zoom: 7};
		  var map = new google.maps.Map(mapCanvas, mapOptions);

		  var city = new google.maps.Circle({
		    center: location,
		    radius: 50000,
		    strokeColor: "#0000FF",
		    strokeOpacity: 0.8,
		    strokeWeight: 2,
		    fillColor: "#0000FF",
		    fillOpacity: 0.4
		  });
		  city.setMap(map);
		}

		//Only load when the professional is not logged in

		<%unless professional_logged_in?%>
				function nextQuestion(btn_id) {
				  hash_sym = "#";
				  var object_id = hash_sym.concat(btn_id);
				  theObject = $(object_id)[0];

				  // If not the last question,
				  // hide this question
				  // and display the next question upon hitting next

				  if (theObject.parentElement.id < <%= @questions.count %>){
				    theObject.parentElement.classList.add("d-none");
				    theObject.parentElement.classList.remove("d-block");

				    var next_id = parseInt(theObject.parentElement.id, 10) + 1;
				    document.getElementById(next_id).classList.remove("d-none");
				    document.getElementById(next_id).classList.add("d-block");
				  }
				}

				function prevQuestion(btn_id) {
				  hash_sym = "#";
				  var object_id = hash_sym.concat(btn_id);
				  theObject = $(object_id)[0];

				  // If not the last question,
				  // hide this question
				  // and display the next question upon hitting next
				  if (theObject.parentElement.id > 0 && theObject.parentElement.id <= <%= @questions.count %>){
				  theObject.parentElement.classList.add("d-none");
				  theObject.parentElement.classList.remove("d-block");

				  var prev_id = parseInt(theObject.parentElement.id, 10) - 1;
				  document.getElementById(prev_id).classList.add("d-block");
				  document.getElementById(prev_id).classList.remove("d-none");
				  }
				}
		<%end%>

		//end
		$(".star-rating").raty({
			path:"/assets",
			readOnly: true,
			score:function(){
				return  $(this).attr("data-score");
			}
		});

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_API_KEY"]%>&callback=searchProfessionalLocation"></script>
