<% if !current_client %>
<div class="row">
	<div class="col-md-6 offset-md-3">
		<h3 class="mt-3">Welcome back <%= @professional.first_name %>! </h3>
	</div>
</div>
<% else %>
<%= render 'layouts/searchbar' %>
<div class="container professional-profile">

	<div class="row">
		<div class="col-sm-3">
			<div class="rating-block">
				<h4>Average rating</h4>
				<h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
				<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					<span class="fa fa-star white" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="col-sm-4">
			<h4>Rating breakdown</h4>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">5 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">1</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">4 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">1</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">3 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">0</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">2 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">0</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">1 <span class="fa fa-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
							<span class="sr-only">80% Complete (danger)</span>
						</div>
					</div>
				</div>
				<div class="pull-right" style="margin-left:10px;">0</div>
			</div>
		</div>	
		<div class="col-sm-5 text-center">
		  <h3><strong><%= "#{@professional.first_name} #{@professional.last_name}" %></strong></h3>
		  <h5>Service: <strong><%= @professional.service %></strong></h5>
		  <h5>Location: <strong><%= "#{@professional.city}, #{@professional.country}" %></strong></h5>
		  <%#= link_to "Request a Quotation", request_quotation_path(client_id: current_client.id, professional_id: @professional.id), class: "btn btn-primary" %>
		</div>	
	</div>			

	<div class="row">
		<div class="col-sm-7">
			<hr/>
			<div class="review-block">
			<% 5.times do %>
				<div class="row">
					<div class="col-sm-3">
						<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
						<div class="review-block-name"><a href="#">John Doe</a></div>
						<div class="review-block-date">January 29, 2016<br/>1 day ago</div>
					</div>
					<div class="col-sm-9">
						<div class="review-block-rate">
							<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
								<span class="fa fa-star white" aria-hidden="true"></span>
							</button>
						</div>
						<div class="review-block-title">Great work!</div>
						<div class="review-block-description">He does quality work. He does quality work.He does quality work.He does quality work.He does quality work.He does quality work.He does quality work.He does quality work.</div>
					</div>
				</div>
				<hr/>
			<% end %>
			</div>
		</div>
		<div class="col-sm-5">
			<hr>
			<div id="map" style="width:100%;height:300px;"></div>
			<%= hidden_field_tag("latitude", "#{@professional.latitude}") %>
			<%= hidden_field_tag("longitude", "#{@professional.longitude}") %>
		</div>
	</div>
</div><!-- /container -->
<% end %>

<script> 
function searchProfessionalLocation() {
	var lat = document.getElementById('latitude').value;
	var lon = document.getElementById('longitude').value;
  var location = new google.maps.LatLng(lat, lon);

  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: location, zoom: 7};
  var map = new google.maps.Map(mapCanvas,mapOptions);

  var city = new google.maps.Circle({
    center: location,
    radius: 50000,
    strokeColor: "#0000FF",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#0000FF",
    fillOpacity: 0.4
  });
  city.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSqlenOHStWc1MdDufLvSzIXdum5UREsc&callback=searchProfessionalLocation"></script>