<div class="top_padder mt-5">
  <div class="row">
  	<div class="offset-md-3">

  		<h3>Upload a quote for <%= "#{@client.full_name}" %> </h3>


  		<%= form_for @quotation, url: upload_quotation_path(client_id: @client.id, professional_id: @professional.id, request_id:@request.id) do |f| %>

          <div class="form-row align-items-center px-2 py-2 mr-2">
            <div class="col-sm-4  col-md-auto">
                <%= f.file_field :quotation_document, :required=> true %>
            </div>

            <div class="col-sm-4 col-md-auto">
              <div class="input-group">
                <%=f.label :amount, "Amount", class: "my-auto pr-2"%>
                <div class="input-group-prepend">

                  <div class="input-group-text">KSH</div>
                </div>

                <%= f.text_field :amount, :required=> true, placeholder: "10000", :id=>"inlineFormInputGroupUsername", :class => "form-control"%>
              </div>
            </div>
          </div>

          <%= f.hidden_field :professional_id, :value => @professional.id %>
    			<%= f.hidden_field :client_id, :value => @client.id %>
          <%= f.hidden_field :request_id, :value => @request.id %>
    			<br>
    			<%= f.submit "Upload Quote", class: "btn btn-success" %>
  		<% end %>


  	</div>
  </div>
</div>
