<div class="row my-4">
	<div class="col-md-8 offset-md-2">
		<% if @quotations && @quotations.count > 0 %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Professional</th>
					<th>File</th>
					<th>RequestID</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				<% @quotations.each do |quotation| %>
				<% professional = Professional.find(quotation.professional_id)%>
				<tr>
					<td><%= link_to professional.full_name, professional %></td>
					<td><%= link_to File.basename(quotation.quotation_document_url), quotation.quotation_document_url %></td>
					<td><%= link_to quotation.request_id, request_path(quotation.request_id)%></td>

					<%if quotation.status.blank?%>
								<td>
									<%= link_to "Accept", new_project_path(client_id:quotation.client_id, professional_id:quotation.professional_id, quotation_id:quotation.id,request_id:quotation.request_id),class: "btn btn-success btn-sm"%>
									<%= link_to "Decline", decline_quotation_path(quotation_id:quotation.id), :method => :post, class: "btn btn-danger btn-sm"%>
								</td>

					<%end%>
					<td class="font-italic">
						<%=quotation.status.titleize if quotation.status.present?%>
						<%=%>
					</td>
				</tr>

				<% end %>
			</tbody>
		</table>
		<% else %>
		<h4>You currently have no quotations.</h4>
		<% end %>
	</div>
</div>
