

<div class="container my-5 py-5">

  <div class="row offset-1 py-4">

    <% if @project.debit_balance <= 0 %>
      <div class="col-12">
        <h3>What is the current status of your <%=@request.service%> at TaftaPro?</h3>
      </div>

      <div class="col-12 px-5">

              <%=form_for(@project, url: project_path(params[:id])) do |f| %>

                    <div class="form-check p-4">
                      <%=f.radio_button :status, "started", class: "form-check-input"%>
                      <h5><%=f.label    :status,  "Started", :value => 'started',class:"form-check-label"%></h5>
                    </div>

                    <div class="form-check p-4">
                      <%=f.radio_button :status, "in progress", class: "form-check-input"%>
                      <h5><%=f.label    :status, "In progress", :value => 'in progress', class: "form-check-label"%></h5>
                    </div>

                    <div class="form-check p-4">
                      <%=f.radio_button :status, "finished", class: "form-check-input"%>
                      <h5><%=f.label    :status, "Finished", :value => 'Finished', class: "form-check-label"%> </h5>
                    </div>
                    <%= f.submit "Save", class: "btn btn-lg btn-success mt-2"%>
              <%end%>



      </div>
    <% else %>
    <div class="col-12">
      <h5>Make Payment please so that you can processed. Below are different payment options.</h5>
    </div>

    <% end %>
  </div>

</div>
