  <p>
    <%= @greeting %>,
  </p>
  <p>
    A client is seeking your services. Please review the below details about the request and reply to the client with a quotation.
  </p>

  <p>
    Client name: <%= "#{@client.first_name} #{@client.last_name}"%> <br>
    Searching for: <%= @request.service %> <br>
  	Location: <%= @request.location %> <br>
    <h3>Description of work:</h3>
  </p>
  <p>
      <% @answers.each do |answer| %>
          <%if answer.answer.present?%>
            <%if answer.question.answer_type != "email_field"%>
              <h6><%=answer.question.question%></h6> <br>
              <span><%=answer.answer%></span>
            <%end%>
          <%end%>
      <% end %>
  </p>
  <p>
	<%= link_to "Send a Quote", client_url(@client, professional_id: @professional.id), class: "btn btn-primary btn-block" %>
  </p>
