<!DOCTYPE html>
<html>
  <head>
    <title>Taftapro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'jquery.geocomplete' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |message_type,message| %>
      <%=content_tag( :div, message ,class:"alert alert-#{message_type} text-center m-0")%>
    <%end%>

    <%= yield %>

    
    <script data-turbolinks-eval="false" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSqlenOHStWc1MdDufLvSzIXdum5UREsc&amp;libraries=places"></script>
  </body>
</html>

